{% extends 'base.html' %}
{% block title %}
Flask Market | Login
{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h2 class="text-center my-3">Login To Your Account</h2>
        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password") }}
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember me</label>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
        <div class="text-center mt-3">
          <p>Don't have an account? <a href="/register" class="mx-1">Register</a></p>
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}



