{% extends 'base.html' %}
{% block title %}
Flask Market | Market page
{% endblock %}
{% block content %}
<h1 class="text-center my-3">Market page</h1>


<div class="row my-2 mx-2">

    <div class="col-8 my-5">
        <h2 class="my-5 text-center">Available Items On The MArket</h2>
        <table class="table table-hover table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Price</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                {% include "includes/modals.html"%}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.barcode}}</td>
                    <td>{{item.price}} $</td>
                    <td>
                        <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{item.id}}">More
                            Info</button>
                        <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{item.id}}">Purchase</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-4 my-5">
        <h2 class="my-5 text-center">Items You Own</h2>
        <div class="row">
            {% for owned_item in owned_items %}
            {% include 'includes/owned_items_modals.html' %}
              <div class="col-md-6">
                  <div style="margin-bottom: 5px" class="card text-center bg-dark">
                       <div class="card-body">
                           <h5 class="card-title">{{ owned_item.name }}</h5>
                           <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                                   data-toggle="modal" data-target="#Modal-SellingConfirm-{{ owned_item.id }}">
                               Sell this Item
                           </button>
                           <p class="card-text"><strong>
                               This item costs {{ owned_item.price }}$
                           </strong></p>
                       </div>
                   </div>
              </div>
            {% endfor %}
         </div>
    </div>
</div>





{% endblock %}