{% extends 'base.html' %}
{% block title %}
Flask Market | Register
{% endblock %}
{% block content %}
<div class="container mt-5">
   <h2 class="text-center my-5">Create Your Account</h2>
   <form method="POST" action="{{ url_for('Register') }}">
       {{ form.hidden_tag() }}
       <div class="form-group">
           {{ form.username.label(class="form-label") }}
           {{ form.username(class="form-control") }}
       </div>
       <div class="form-group">
           {{ form.email.label(class="form-label") }}
           {{ form.email(class="form-control") }}
       </div>
       <div class="form-group">
           {{ form.password1.label(class="form-label") }}
           {{ form.password1(class="form-control") }}
       </div>
       <div class="form-group">
           {{ form.password2.label(class="form-label") }}
           {{ form.password2(class="form-control") }}
       </div>
       <div class="form-group d-flex justify-content-center">
           {{ form.submit(class="btn btn-primary  my-2 px-5") }}
       </div>
   </form>
</div>
{% endblock %}